* {
   margin: 0; 
}

body {
   max-width: 970px; 
}

header {
    background-color:red;
}

section {
    background-color: blue;
}

nav {
    background-color: yellow;
    position: absolute;
    width: 200px;
    left: 0;
}


article {
    background-color: green;
    margin-left: 200px;
}

footer {
    background-color: purple;
}


